Repository SkullXA/kaliunbox-nix: changes, and which GitLab CI jobs are due for each by the changed paths.
All: script-tests, flake-check, format-check, flake-lock-check, nix-lint, build-system, build-packages

script-tests:
  image: $NIX_IMAGE
  before_script:
  - mkdir -p ~/.config/nix
  - echo "experimental-features = nix-command flakes" >> ~/.config/nix/nix.conf
  cache:
    key: nix-${CI_JOB_NAME}
    paths:
    - /nix/store
    - /nix/var/nix
    policy: pull-push
  stage: test
  script:
  - echo "Running shell script tests..."
  ...

flake-check:
  image: $NIX_IMAGE
  before_script:
  - mkdir -p ~/.config/nix
  - echo "experimental-features = nix-command flakes" >> ~/.config/nix/nix.conf
  cache:
    key: nix-${CI_JOB_NAME}
    paths:
    - /nix/store
    - /nix/var/nix
    policy: pull-push
  stage: test
  script:
  - echo "Validating flake configuration..."
  ...

format-check:
  image: $NIX_IMAGE
  before_script:
  - mkdir -p ~/.config/nix
  - echo "experimental-features = nix-command flakes" >> ~/.config/nix/nix.conf
  cache:
    key: nix-${CI_JOB_NAME}
    paths:
    - /nix/store
    - /nix/var/nix
    policy: pull-push
  stage: test
  script:
  ...

flake-lock-check:
  image: $NIX_IMAGE
  before_script:
  - mkdir -p ~/.config/nix
  - echo "experimental-features = nix-command flakes" >> ~/.config/nix/nix.conf
  cache:
    key: nix-${CI_JOB_NAME}
    paths:
    - /nix/store
    - /nix/var/nix
    policy: pull-push
  stage: test
  script:
  - echo "Checking if flake.lock is up to date..."
  ...

nix-lint:
  image: $NIX_IMAGE
  before_script:
  - mkdir -p ~/.config/nix
  - echo "experimental-features = nix-command flakes" >> ~/.config/nix/nix.conf
  cache:
    key: nix-${CI_JOB_NAME}
    paths:
    - /nix/store
    - /nix/var/nix
    policy: pull-push
  stage: test
  script:
  - echo "Running Nix linter..."
  ...

build-system:
  image: $NIX_IMAGE
  before_script:
  - mkdir -p ~/.config/nix
  - echo "experimental-features = nix-command flakes" >> ~/.config/nix/nix.conf
  cache:
    key: nix-${CI_JOB_NAME}
    paths:
    - /nix/store
    - /nix/var/nix
    policy: pull-push
  stage: build
  script:
  ...

build-packages:
  image: $NIX_IMAGE
  before_script:
  - mkdir -p ~/.config/nix
  - echo "experimental-features = nix-command flakes" >> ~/.config/nix/nix.conf
  cache:
    key: nix-${CI_JOB_NAME}
    paths:
    - /nix/store
    - /nix/var/nix
    policy: pull-push
  stage: build
  script:
  - echo "Building custom packages..."
  ...

Update KaliunBox repo URL in installer scripts
  installer/modules/auto-claim.nix
  installer/modules/scripts.nix
Due: flake-check, format-check, nix-lint, build-system

Fix: Setup QEMU before Nix for aarch64 builds
  .github/workflows/build-iso.yml
Due: none

Add network watchdog, improve proxy and DNS handling
  ROADMAP.md
  flake.nix
  installer/modules/auto-claim.nix
  lefthook.yml
  modules/auto-update.nix
  modules/base-system.nix
  modules/health-reporter.nix
  modules/homeassistant/networking.nix
  modules/homeassistant/proxy-setup.nix
  modules/homeassistant/scripts.nix
  modules/homeassistant/vm-service.nix
  modules/management-screen.nix
  modules/network-watchdog.nix
  pkgs/fosrl-newt.nix
Due: flake-check, format-check, flake-lock-check, nix-lint, build-system, build-packages

Add TODO section to roadmap - email service, cleanup items
  ROADMAP.md
Due: none

Add log-reporter service to send systemd logs to Connect API
  ROADMAP.md
  flake.nix
  modules/log-reporter.nix
  modules/network-watchdog.nix
Due: flake-check, format-check, flake-lock-check, nix-lint, build-system, build-packages

Fix: Standardize API URL to Railway endpoint across all modules
  installer/claiming/claim-script.sh
  installer/modules/auto-claim.nix
  modules/connect-sync.nix
  modules/management-screen.nix
Due: script-tests, flake-check, format-check, nix-lint, build-system

UI: Add Kaliun version (git commit) and last update status to management screen
  modules/management-screen.nix
Due: flake-check, format-check, nix-lint, build-system

Fix: KVM fallback to qemu64 CPU when unavailable (for VM testing) + integer expected bug
  modules/homeassistant/vm-service.nix
  modules/management-screen.nix
Due: flake-check, format-check, nix-lint, build-system

Fix: Enable passwordless root login on local console (initialHashedPassword instead of null)
  configuration.nix
Due: flake-check, format-check, nix-lint, build-system

Fix: Always use qemu64 CPU model for VirtualBox compatibility
  modules/homeassistant/vm-service.nix
  modules/network-watchdog.nix
Due: flake-check, format-check, nix-lint, build-system

Add HAOS image ensure service and improve logging
  modules/homeassistant/default.nix
  modules/homeassistant/image-ensure.nix
  modules/homeassistant/vm-service.nix
  modules/log-reporter.nix
  modules/network-watchdog.nix
  modules/newt-container.nix
Due: flake-check, format-check, nix-lint, build-system

Add Raspberry Pi 4 SD image build and support
  .github/workflows/build-iso.yml
  building-images.md
  flake.nix
  installer/rpi4-image.nix
  modules/homeassistant/image-ensure.nix
  modules/log-reporter.nix
  modules/network-watchdog.nix
Due: flake-check, format-check, flake-lock-check, nix-lint, build-system, build-packages

Clean up log-reporter module and update comment
  flake.nix
  modules/log-reporter.nix
Due: flake-check, format-check, flake-lock-check, nix-lint, build-system, build-packages

Update RPi4 image: firmware config and root login
  installer/rpi4-image.nix
Due: flake-check, format-check, nix-lint, build-system

Simplify RPi4 image firmware and boot config
  installer/rpi4-image.nix
  modules/network-watchdog.nix
Due: flake-check, format-check, nix-lint, build-system

Add WiFi setup and fallback to installer
  installer/modules/auto-claim.nix
  installer/rpi4-image.nix
Due: flake-check, format-check, nix-lint, build-system

Remove WiFi support and dependencies from installer
  installer/modules/auto-claim.nix
  installer/rpi4-image.nix
Due: flake-check, format-check, nix-lint, build-system

Improve disk unmount and partition handling in installer
  installer/modules/auto-claim.nix
  installer/modules/scripts.nix
  modules/network-watchdog.nix
Due: flake-check, format-check, nix-lint, build-system

Improve disk cleanup and unmount logic in installer
  installer/modules/auto-claim.nix
  installer/modules/scripts.nix
  installer/rpi4-image.nix
Due: flake-check, format-check, nix-lint, build-system

Switch to direct boot RPi4 image and simplify installer
  .github/workflows/build-iso.yml
  flake.nix
  installer/modules/auto-claim.nix
  installer/modules/scripts.nix
  installer/rpi4-image.nix
  modules/network-watchdog.nix
  rpi4-direct.nix
Due: flake-check, format-check, flake-lock-check, nix-lint, build-system, build-packages

Persist flake target for auto-updates and improve rpi4 setup
  installer/modules/auto-claim.nix
  modules/auto-update.nix
  rpi4-direct.nix
Due: flake-check, format-check, nix-lint, build-system

Update rpi4-direct.nix
  rpi4-direct.nix
Due: flake-check, format-check, nix-lint, build-system

Improve service startup robustness and container setup
  modules/homeassistant/default.nix
  modules/newt-container.nix
  rpi4-direct.nix
Due: flake-check, format-check, nix-lint, build-system

Align rpi4 config with x86/aarch64 settings
  rpi4-direct.nix
Due: flake-check, format-check, nix-lint, build-system

Add HA Kiosk Mode design doc and improve boot UX
  docs/HA-KIOSK-MODE.md
  rpi4-direct.nix
Due: flake-check, format-check, nix-lint, build-system

Improve claiming process and boot health handling for rpi4
  modules/network-watchdog.nix
  rpi4-direct.nix
Due: flake-check, format-check, nix-lint, build-system

Improve Home Assistant VM logging and KVM support
  modules/homeassistant/vm-service.nix
  modules/log-reporter.nix
  rpi4-direct.nix
Due: flake-check, format-check, nix-lint, build-system

Improve HA VM disk usage reporting and boot claim logic
  modules/health-reporter.nix
  modules/homeassistant/info-fetcher.nix
  rpi4-direct.nix
Due: flake-check, format-check, nix-lint, build-system

Rebrand SeloraBox to KaliunBox and improve update UX
  README.md
  ROADMAP.md
  building-images.md
  configuration.nix
  development.md
  installer/claiming/plymouth-theme/README.md
  maintenance.md
  modules/auto-update.nix
  rpi4-direct.nix
  updates.md
Due: flake-check, format-check, nix-lint, build-system

Move Home Assistant OS image download to systemd service
  modules/homeassistant/default.nix
  modules/homeassistant/image-ensure.nix
Due: flake-check, format-check, nix-lint, build-system

Fix Pi boot hang: delay management-console start to avoid blocking systemd
  modules/management-screen.nix
Due: flake-check, format-check, nix-lint, build-system

Revert management-console timer change - didn't fix the issue
  modules/management-screen.nix
Due: flake-check, format-check, nix-lint, build-system

Revert to original x86 image download - fix black screen issue
  modules/homeassistant/default.nix
Due: flake-check, format-check, nix-lint, build-system

Add hardware support evaluation and Pi boot issue docs
  docs/hardware-support-evaluation.md
  docs/raspberry-pi-boot-issue-investigation.md
  rpi4-direct.nix
Due: flake-check, format-check, nix-lint, build-system

Update Pi 4 docs and simplify HA VM QEMU config
  docs/hardware-support-evaluation.md
  docs/raspberry-pi-boot-issue-investigation.md
  modules/homeassistant/vm-service.nix
Due: flake-check, format-check, nix-lint, build-system

Fix: Report immediately on network/IP changes
  modules/health-reporter.nix
  modules/log-reporter.nix
Due: flake-check, format-check, nix-lint, build-system

Tune reporting intervals for better balance
  modules/health-reporter.nix
  modules/log-reporter.nix
Due: flake-check, format-check, nix-lint, build-system

Fix: Auto-size HAOS disk based on available storage
  modules/homeassistant/image-ensure.nix
Due: flake-check, format-check, nix-lint, build-system

Increase NixOS reserve from 5GB to 10GB
  modules/homeassistant/image-ensure.nix
Due: flake-check, format-check, nix-lint, build-system

Path conditions:
  script-tests: any of: installer/**/*.sh, tests/**/*, .gitlab-ci.yml
  flake-check: any of: *.nix, **/*.nix, flake.lock, .gitlab-ci.yml
  format-check: any of: *.nix, **/*.nix, flake.lock, .gitlab-ci.yml
  flake-lock-check: any of: flake.nix, flake.lock, .gitlab-ci.yml
  nix-lint: any of: *.nix, **/*.nix, flake.lock, .gitlab-ci.yml
  build-system: any of: *.nix, **/*.nix, flake.lock, .gitlab-ci.yml
  build-packages: any of: pkgs/**/*, flake.nix, flake.lock, .gitlab-ci.yml
